<div class="lef-nav">
	  <ul>
	    <li class="nav-list"><a href="${indexUrl}">首页</a></li>
		<li class="nav-list"><a href="${addOrUpdateUrl}">增加网站</a></li>
		<li class="nav-list"><a href="${manageUrl}">网站管理</a></li>
	  </ul>	
</div>